{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "ApkBak",
      "Space": "ApkBak"
    },
    "Name": "ApkBak",
    "Instrumentation": {
      "host": "ApkBak"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}